* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #f4f4f4;
    border-bottom: 4px solid rgb(154, 186, 61);
    color: rgb(9, 46, 39);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 30px;
    height: 120px;
}

.logo {
    width: 132px;
    height: 74px;
    margin: auto 0px;
}

.link {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

a {
  text-decoration: none;
  color: rgb(9, 46, 39);
}

.dumb {
    margin-right: auto;
}

.firstcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-bottom: rgb(103, 126, 37) 4px solid;
    background-image: url(imgs/bg1.png);
    background-position: center;
    background-size: cover;


}

button {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color:rgb(154, 186, 61);
    border: 0.08em solid #ffffff00;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
    z-index: 2147483647;
  }
  
  button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color:rgb(154, 186, 61);
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #ffffff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
    z-index: 2147483647;
  }
  
  button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
    z-index: 2147483647;
  }
  
  button span:not(hover) {
    transition: all 1s;
    z-index: 2147483647;
  }

  .secondcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-bottom: 4px solid rgb(154, 186, 61);
    background-image: url(imgs/bg2.png);
    background-position: center;
    background-size: cover;
  }

  .thirdcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-bottom: rgb(103, 126, 37) 4px solid;
    background-position: center;
    background-image: url(imgs/bgvid.mp4);
    background-size: cover;
    overflow: hidden;
  }

  source {
    z-index: 0;
  }

  .video {
  z-index: 0;
 }

  .fourthcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-bottom: 4px solid rgb(154, 186, 61);
    background-image: url(imgs/bg4.png);
    background-position: center;
    background-size: cover;
  }

  .fifthcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-bottom: rgb(103, 126, 37) 4px solid;
    background-image: url(imgs/bg5.png);
    background-position: center;
    background-size: cover;
  }
  
  .footer {
    background-color: #f4f4f4;
    border-bottom: 4px solid rgb(154, 186, 61);
    color: rgb(9, 46, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
    height: 120px;
  }